<!DOCTYPE html>
<html style="overflow-y:scroll;">
	<body style="margin-bottom: 100px">
		{% include 'hackathon/base.html' %}
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

              <div class="carousel-inner" role="listbox">
                  {% for recruit in object_list %}
                      <div class="item recruit-item {% if forloop.first %}active{% endif %}" data-id="{{ recruit.id }}">
                          <div class="col-md-12">
                            <div class="row"><div class="col-md-8">
                                <h1 id="recruit-name">{{ recruit.name }}&nbsp;{{ recruit.surname }}</h1></div>
                                <div class="col-md-4">
                                        <img src="/static/imgrec/a.jpg" class="img-responsive" style="height: 120px"/>
                                </div>
                                <hr>
                            </div>

                            <div class="row">
                                <h3>Technologies</h3>
                                {% for technology in recruit.technologies.all %}
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-lg-3 col-xs-4"><label>{{ technology.name }}</label></div>
                                            <div class="col-lg-6 col-xs-8">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ technology.expertise }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ technology.expertise }}%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="row">
                                <h3>Experience</h3>
                                {% for job_experience in recruit.jobexperience_set.all %}
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-lg-3 col-xs-4"><label>{{ job_experience.company_name }}</label></div>
                                            <div class="col-lg-3 col-xs-4"><label>{{ job_experience.years }}</label></div>
<!--                                             <div class="col-lg-6 col-xs-8">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ technology.expertise }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ technology.expertise }}%"></div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                {% endfor %}
<!--                                 <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-lg-9 col-xs-12">
                                            <p>
                                                {{ recruit.experience }}
                                            </p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                        </div>
                      </div>
                  {% endfor %}
              </div>
              </div>
            <div class="row" style="padding-top: 20px; position:fixed; width: 100%; bottom: 0;">
                <div class="col-md-4">
                  <a type="button" class="btn btn-block btn-primary btn-lg" role="button" href="#myCarousel" data-slide="prev">Reject</a>
                </div>
                <div class="col-md-4">
                  <a type="button" class="btn btn-block btn-primary btn-lg" role="button" href="#myCarousel" data-slide="next" id="accept-recruit">Accept</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel"></h2>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4"><label for="Email">Email</label></div>
                        <div class="col-xs-8"><span id="Email">name.surname@gmail.com</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><label for="Phone">Phone</label></div>
                        <div class="col-xs-8"><span id="Phone">+48 788 444 111</span></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>